.toast-list {
  z-index: 10000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  top: 1rem;
  right: 1rem;
  left: 1rem;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  line-break: auto;
  white-space: pre-wrap;

  > li:first-child {
    padding-top: 3.5rem;
  }
  > li:not(:last-of-type) {
    margin-bottom: .5rem;
  }
}

.close-button {
  float: right;
  padding: 0.5rem;
}