.plus-icon {
  position: absolute;
  right: 4px;
  top: 4px;
  font-size: .7rem;
}

.minus-icon {
  position: absolute;
  right: 4px;
  top: 4px;
  font-size: .7rem;
}

.custom-btn {
  padding: 0.25rem 0.5rem;
  line-height: 1.75rem;
  border-radius: 50%;
  background: transparent !important;
  border: 1px solid transparent !important;
  color: #fff ;
  box-shadow: none !important;
  &:hover {
    color: #4b9b73;
    background: transparent;
    border: 1px solid transparent !important;
  }
  &:focus {
    color: #4b9b73;
    background: transparent;
    border: 1px solid transparent !important;
  }
}

.nav-btn {
  padding: 0.25rem 0.5rem;
  line-height: 1.75rem;
  border-radius: 50%;
  background: transparent !important;
  border: 1px solid transparent !important;
  color: #fff ;
  box-shadow: none !important;
  &:hover {
    color: #4b9b73;
    background: transparent;
    border: 1px solid transparent !important;
  }
  &:focus {
    color: #4b9b73;
    background: transparent;
    border: 1px solid transparent !important;
  }
}

.nav-btn > svg {
  font-size: 32px;
}

.spin-button {
  padding: 0.25rem 0.5rem;
  line-height: 1.75rem;
  border-radius: 50%;
  background: transparent !important;
  border: 1px solid transparent !important;
  color: #fff;
  box-shadow: none !important;
  svg {
    @keyframes spinning {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
    transition: all .3s ease;
    opacity: 1;
    fill: #fff;

    &.spinning {
      fill: #0ff;
      animation: spinning 1s infinite;
    }
    &:hover, &.hasPendingTxs {
      fill: #4b9b73;
      animation: spinning 1s infinite;
    }
  }
}

.minus-icon {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.delete-btn {
  padding: 0.25rem 0.5rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  border-radius: 50%;
  background: transparent;
  border: 1px solid transparent;
  color: #bd0c0c ;
  box-shadow: none !important;
  &:hover {
    color: #641c0f;
    background: transparent;
    border: 1px solid transparent;
  }
}

.btn-icon-open {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.btn-icon-close {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.btn {
  align-items: center;
  background-color: #030303;
  border: 1px solid transparent;
  box-shadow: none !important;
  border-radius: 50%;
  display: flex;
  height: 40px;
  justify-content: center;
  position: absolute;
  left: 35px;
  width: 40px;
  z-index: 9999;
  top: 250px;
  animation: glowing 1300ms infinite;
  @keyframes glowing {
    0% {
      background-color: #030303;
      box-shadow: 0 0 3px #030303;
    }
    50% {
      background-color: #0f0f0f;
      box-shadow: 0 0 10px #0d0d0d;
      border-color: #212529;
    }
    100% {
      background-color: #030303;
      box-shadow: 0 0 3px #030303;
    }
  }
}
