// HEADER COMPONENTS

.header-container {
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.75rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10001;
  background-color: #030303;
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
}

.whalephant-wrapper {
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  svg {
    width: 2.1rem;
    height: 2.5rem;
  }
}

.form-layer {
  padding: 0.375rem;
  padding-right: 2rem;
  padding-left: 1.25rem;
  border-radius: 9999px;
  overflow: hidden;
  align-items: center;
  background-color: #1a1a1a;
  border: rgba(38, 38, 38, 1) solid 2px;
  width: 100%;
  height: 2.5rem;
  display: flex;
  margin-right: 0.625rem;
}

.pod-alert {
  border: 2px solid gray;
  border-radius: 9999px;
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;
}

.form-wrapper {
  width: 100%;
}

.call-to-actions {
  border: rgba(38, 38, 38, 1) solid 2px;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  height: 2.5rem;
  @media only screen and (max-width: 960px) {
    padding: 0;
    border: none;
  }
}

// FOOTER

.footer {
  background-color: #0d0d0ded;
  padding: 0.625rem 1.25rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

.nav-list {
  align-items: center;
  justify-content: center;
  width: 100%;
  display: flex;
  list-style: none;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  z-index: 70;
  font-size: 2rem;
}

// MAIN LAYOUT

.page {
  display: contents;
  min-height: 100vh;
}

.center-components {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
}

.main-content {
  flex-grow: 1;
  max-width: 72rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  @media screen and (max-width: 600px) {
    max-width: 100vw;
  }
}