.leftPane {
  display: inline;
  max-width: 30%;
  min-width: 19rem;
  @media only screen and (max-width: 960px) {
    max-width: 100%;
  }
}

.rightPane {
  width: 100%;
  padding-left: 2rem;
}

.tabHeader {
  text-transform: inherit;
  color: #fff;
}