.container {
  margin: auto;
  @media only screen and (max-width: 600px) {
    max-width: 90%;
  }
}

.leftPane {
  display: inline;
  max-width: 30%;
  min-width: 19rem;
  @media only screen and (max-width: 960px) {
    max-width: 100%;
  }
}

.rightPane {
  width: 100%;
  padding-left: 2rem;
}

.tabHeader {
  text-transform: inherit;
  color: #fff;
}

.wrapper {
  margin-top:  32px;
  min-width: 100%;
  display: flex;
  padding: 0 16px;
  @media only screen and (max-width: 960px) {
    flex-direction: column;
  }
}
