.latest-release {
  margin-right: 2rem;
  display: flex;
  align-items: center;
  color: rgba(104, 104, 104, 1);
  font-size: 12px;
}

.time-release {
  font-size: 9px;
  margin-top: 1px;
  text-transform: capitalize;
  color: rgba(104, 104, 104, 1);
  line-height: 1rem;
}
