.header {
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.list-container {
  overflow-y: auto;
  padding: 0.75rem;
  background-color: rgba(13, 13, 13, 1);
  border: 2px solid rgba(38, 38, 38, 1);
  border-radius: 1rem;
  max-width: 830px;
  height: auto;
  min-height: 26vh;
}

.latest-release {
  margin-right: 2rem;
  display: flex;
  align-items: center;
  color: rgba(104, 104, 104, 1);
  font-size: 12px;
}

.time-release {
  font-size: 9px;
  margin-top: 1px;
  text-transform: capitalize;
  color: rgba(104, 104, 104, 1);
  line-height: 1rem;
}

.list-item {
  color: white;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  justify-content: space-between;
  align-items: center;
  cursor: default;
  display: flex;
  &:hover {
    background-color: #030303;
  }
}

.title-header {
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  @media only screen and (max-width: 960px) {
    width: auto;
  }
}

.title-detail {
  display: flex;
  align-items: center;
  max-width: 60%;
}

.item-title {
  width: 100%;
}

.podcast-image-whalephant {
  padding-right: 0.5rem;

  svg {
    width: 1.68rem;
    height: 2rem;
  }
}

.podcast-image {
  object-fit: cover;
  border-radius: 0.75rem;
  width: 3rem;
  height: 3rem;
  margin-right: 0.75rem;
  @media only screen and (max-width: 960px) {
    width: 2rem;
    height: 2rem;
  }
}

.meta-detail {
  display: flex;
}

.call-to-action {
  display: flex;
  align-items: center;
  margin-left: 5rem;
  @media only screen and (max-width: 960px) {
    margin-left: auto;
  }
}

.action-info {
  padding-right: 1rem;
  flex-direction: row-reverse;
  @media only screen and (max-width: 960px) {
    margin-left: auto;
  }
}

.action-btn {
  border: solid 2px rgba(255, 255, 255, 0.4);
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 4rem;
  height: 2.5rem;
  @media only screen and (max-width: 960px) {
    padding: 0;
    border: none;
    width: auto;
  }
}